<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebDev</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>

    <!-- NAVBAR -->





    <!-- HEADER -->





      <!-- LIST DATA -->





      <!-- TENTANG -->





      <!-- KEGIATAN -->





      <!-- PENILAIAN -->




      <!-- MEMBERSHIP -->





      <!-- FOOTER -->







    <script src="/js/index.js"></script>
  </body>
</html>
