<h1>halaman register</h1>
<% if (typeof errors !== 'undefined' && errors.length > 0) { %>
<div class="error">
  <% errors.forEach(function(error) { %>
  <p><%= error %></p>
  <% }) %>
</div>
<% } %>
<form action="/register" method="POST">
  <label for="username">masukan username : </label>
  <input type="text" name="username" id="username" />
  <br />

  <label for="email">masukan email : </label>
  <input type="text" name="email" id="email" />

  <br />
  <label for="password">masukan password : </label>
  <input type="password" name="password" id="password" />
  <br />
  <button>register</button>
</form>
